* {
	margin:0;
	padding:0;
}
body {
	width: 100%;
	height: 100%;
	font-family: 'Futura', "Lato", Helvetica, Arial, sans-serif;
	margin:0 auto;
	font-weight:400;
	color:#2D2D2D;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-rendering:optimizeLegibility;
	background: #FFF;
	overflow-x: hidden;
}
html {
	width: 100%;
	height: 100%;
}
a {
	text-decoration:none;
	outline:none;
}
a:hover {
	text-decoration: none;
}
a img {
	border: 0px none;
}
a:hover {
	outline: none;
}
a:active {
	outline: none;
	text-decoration: none;
}
a:focus {
	outline: none;
	outline-offset: 0px;
	text-decoration: none;
	color:#fff;
}
.clear {
	clear:both;
	overflow:hidden;
	height:0px;
	font-size:0px;
}
.clear_l {
	clear:both;
}
ul, ol {
	padding:0px;
	margin:0px;
	list-style:none;
}
input:focus, select:focus, textarea:focus, button:focus {
	outline:none;
	box-shadow:none;
}
h1, h2, h3, h4{
    font-family: 'Futura-Bold';
}
h1, h2, h3, h4, h5, h6, p {
	margin:0px;
	padding:0px;
}
article, section, footer, header, figure, aside, hgroup, nav {
	display:block;
}
header, nav, article, footer, section, aside, figure, figcaption {
	display:block
}
button {
	outline: none;
	border: none;
	box-shadow: none;
}
a:hover, .btn:hover{
	-moz-transition: 0.4s all;
	-o-transition: 0.4s all;
	-webkit-transition: 0.4s all;
	transition: 0.4s all;	
}
select,
select:focus,
input:focus,
.btn:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	border-color: rgba(000, 000, 000, 0.8);
	box-shadow:none;
	outline:none;
	border-top-color: none;
	border-right-color: none;
	border-left-color: none;
}
.noPadding{
	padding:0;
}
.page-item.active .page-link {
    background-color: #567c32;
    border-color: #567c32;
}
/* :: 6.0 Buttons CSS */
.btn:focus {
	box-shadow: none;
}
img{
  height: auto;
  max-width: 100%;
}

